<strong>Formulário - Trabalhe Conosco</strong>
<p>Dados para contato:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Telefone: </strong> {{ phone }} <br />
  <strong>Email: </strong> {{ from }} <br />
</p>
<br />
<strong>Mensagem:</strong>
<p>{{message}}</p>
<br />
